html,
body {
  /* background-color: rgba(3, 155, 230, 0.8); */
  background-color: #f2f8ff;
  color: #fff;
}

.ui.fluid.card {
  margin-top: 2rem;
}

.ui.pointing.secondary.menu {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 45rem;
  justify-content: center;
  margin: 3rem auto;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: -2px 4px rgba(29, 84, 180, 0.1);
}

.ui.menu .item a,
.ui.menu .item a:hover,
.ui.menu .item a:active {
  color: #5f6368;
  font-weight: bold;
}
.ui.grid {
  margin-top: 4rem;
}
.ui.segment {
  background: #fff;
  padding: 2rem 4rem;
  border-radius: 8px;
  border: 1px solid #eceff1;
  box-shadow: -2px 4px rgba(29, 84, 180, 0.1);
}
.ui.segment h3.header {
  text-align: center;
}
