html,
body {
  /* background-color: rgba(3, 155, 230, 0.8); */
  background-color: #d5eef3;
  color: #fff;
}

.ui.fluid.card {
  margin-top: 2rem;
}

.ui.pointing.secondary.menu {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 45rem;
  justify-content: center;
  margin: 3rem auto;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 1px 3px 1px rgba(60, 64, 67, 0.05);
}

.ui.menu .item a,
.ui.menu .item a:hover,
.ui.menu .item a:active {
  color: #5f6368;
  font-weight: bold;
}
.ui.grid {
  background: #fff;
  padding: 2rem 4rem;
  border-radius: 8px;
  border: 1px solid #eceff1;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  margin-top: 4rem;
}
